.linkContainer {
    display: flex;
    margin: 20px 0px 20px 0px;
    padding: 0;
    li {
        margin: 0px 3rem 0px 0px;
        list-style: none;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        a {
            padding-bottom: 0px;
            border-bottom: 1px solid #D9C330;
            box-shadow: 0px 0px transparent;
            transition: all ease-out 0.5s;
            margin: 0;
            color: #D9C330;
            text-decoration: none;
        }
    }

    a:hover,
    a:focus,
    .activeNavItem {
        outline: none;
        color: #B054A9;
        text-shadow: 0px 15px transparentize(#131315, 0.9), -0px -15px transparentize(#131315, 0.9);
        padding-bottom: 15px;
        border-bottom: 1px solid #B054A9;
    }
}