.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 2rem;
    box-shadow: 10px 0px 30px rgba(23, 18, 18, 0.15), -10px 0px 30px rgba(23, 18, 18, 0.15);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}

p {
    font-color: #F7F3F3;
}