// background: F7F3F3
// headings: pink B054A9, gold D9C330
// text: 171212

html {
    font-size: 62.5%;
    background-color: #171212;
}

.container {
    box-shadow: 10px 0px 30px rgba(23, 18, 18, 0.2), -10px 0px 30px rgba(23, 18, 18, 0.2);
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

p, ul, li {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin-bottom: 5rem;
}

h1 a {
    font-size: 8rem;
    // letter-spacing: 2px;
    margin: 0;
    color: #D9C330;
    font-weight: 900;
    position: relative;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}

h1 a:hover {
    color: #B054A9;
}

p {
    color: #F7F3F3;
    font-size: 1.8rem;
}