// background: F7F3F3
// headings: pink B054A9, gold CFB826
// text: 131315

html {
    font-size: 62.5%;
    background-color: #EFE7E7;
    background-image: url(./backgroundImg.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
}

nav {
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: #EFE7E7;
    padding: 15px 0px;
}

h1, h2, h3 {
    font-family: 'Playfair Display SC', serif;
}

p, ul, li {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    margin: 4rem 0 8rem;
    display: block;
    text-align: center;
}

h2 {
    color: #CFB826;
    text-shadow: 2px 0px #B054A9;
    font-size: 5rem;
    letter-spacing: 1.5px;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: #131315;
    font-size: 2.7rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #B054A9;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1 a {
    font-size: 7rem;
    text-align: center;
    margin: 0;
    color: #B054A9;
    font-weight: 900;
    position: relative;
    text-decoration: none;
    transition: all ease-in-out 1s;
    text-shadow: -3px 0px #CFB826;
}

.lineTop, .lineBottom {
    display: block;
    width: 0%;
    height: 5px;
    transition: all ease-in-out 1s;
    background-color: #CFB826;
    position: absolute;
}

.lineBottom {
    right: 0;
    margin-top: 10px;
}

h1 a:focus,
h1 a:hover {
    color: #CFB826;
    outline: none;
    text-shadow: 3px 0px #B054A9;
}

h1 a:focus,
h1 a:hover {
    .lineTop, .lineBottom {
        width: 101.5%;
        background-color: #B054A9;
    }
}


p {
    color: #131315;
    font-size: 1.8rem;
    line-height: 1.7;
}

.linkIndex {
    text-decoration: none;
    font-weight: 700;
    border-bottom: 1px solid #B054A9;
    color: #B054A9;
    transition: all ease-in-out 0.3s;
}

.linkIndex:hover,
.linkIndex:focus {
    color: #CFB826;
    outline: none;
}

.faq {
    margin: 0;
    padding: 0;

    margin-top: 5rem;
    li {
        list-style-type: none;
        border-bottom: 2px solid #CFB826;
        color: #CFB826;
        font-size: 1.8rem;
        padding: 30px 0px;
        .question {
            font-weight: 700;
            color: #B054A9;
            font-size: 2.1rem;
            margin-bottom: 0;
        }
        .answer {
            margin-top: 5px;
            line-height: 2;
        }
    }

    li:last-child {
        border-bottom: none;
    }
}

footer {
    p {
        font-size: 1.4rem;
    }
}

.content,
.blogTemplate-module--postContainer--RALPU {
    padding: 20px;
    background-color: transparentize(#EFE7E7, 0.2);
    box-shadow: 2px 2px 20px transparentize(#131315, 0.85);
}

.postList {
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
        margin-bottom: 20px;
        padding: 20px;
        background-color: transparentize(#EFE7E7, 0.2);
        box-shadow: 2px 2px 20px transparentize(#131315, 0.85);
        h3{
            line-height: 1.2;
            margin: 0;
            margin-bottom: 10px;
        }
        h3:hover,
        h3:focus {
            color: #CFB826
        }
        .postDate {
            font-style: italic;
            margin: 0;
            font-size: 1.2rem;
            margin-bottom: 20px;
        }
    }

    .tagList {
        margin: 0;
        padding: 0;
        display: flex;
        li {
            background-color: hsl(0, 20%, 92%);
            box-shadow: 2px 2px 20px transparentize(#131315, 0.85);
            padding: 5px;
            font-size: 1.5rem;
            margin-right: 10px;
            a {
                color: #131315;
                font-weight: 400;
            }
        }
        li:hover,
        li:focus {
            box-shadow: 2px 2px 20px transparentize(#131315, 0.65);
        }
    }
}

.contactList {
    margin: 0;
    padding: 0;
    display: flex;
    li {
        list-style-type: none;
        margin-top: 10px;
        margin-right: 30px;
        a {
            font-size: 2rem;
            color: #B054A9;
            text-transform: uppercase;
            transition: all ease-in-out 0.3s;
        }
        a:hover,
        a:focus {
            color: #CFB826;
        }
    }
}